.btn {
  border-radius: $border-radius-base;
  color: $white;
  border: 0;
  display: inline-block;
  margin-bottom: $margin;
  padding: 20px 30px;
  min-width: 160px;
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-medium;

  &:focus, &:active, &:hover {
    color: $white;
  }
}

.btn--cta {
  padding: 25px;
  width: 100%;
}

// Small fix for the CTA button if it's inside of a fullwidth coulm
.col-sm-12 {
  .btn--cta {
    max-width: 500px;

    @media (max-width: $screen-xs-max) {
      max-width: inherit;
    }
  }
}

.btn--blue {

  &:hover, &:active {
  }
}

.btn--brand {

  &:hover, &:active {
  }
}

.btn--disabled {
}

.btn--link {
  text-transform: uppercase;
  margin-bottom: $margin;
  display: inline-block;
  font-size: $font-size-small;

  span {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 0;
    position: relative;
    top: 4px;
  }
}

.btn--home {
  display: none;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 16px;
  height: 16px;

  a {
    color: $white;
  }

  @media (max-width: $screen-xs-max) {
    display: block;
  }
}