.component-video {
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }

  h3 {
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 10px 10px 8px;
    color: black;
    margin: 0;
  }

  a {
    position: relative;
  }
}

.fancybox-skin {
  border-radius: 0;
}

.youtube-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  background-size: cover;
  background-position: center;
}

.youtube-player {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: url("Video/play.png") top right no-repeat;
  background-position: center;

  > div {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.youtube-player iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
