.component-image {
  max-width: 100%;
  margin-bottom: $margin;

  img {
    margin: 0 auto;
  }

  a {
    display: block;
    overflow: hidden;
  }
}

.clip-svg {
  width: 0;
  height: 0;
}

.component-image .img-text {
  height: 70px;
  width: 100%;
  background-color: $brand-primary;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: $white;

  p {
    margin-bottom: 0;
    font-size: $font-size-small;
    line-height: 20px;
    max-width: 475px;
  }
}

.component-image .missing-image {
  width: 100%;
}

.component-image.small {
  width: 50%;
}

.component-image.small.center {
  margin-left: auto;
  margin-right: auto;
}

.component-image.small.right {
  margin-left: auto;
}

.component-image.round {
  img {
    border-radius: 50%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
