.wpb_column {

  &.column_bg_color {
    > .wpb_wrapper {
      padding: 15px;
    }

  }

  &.column-bg--white > .wpb_wrapper {
    background-color: $white;
  }

  &.column-bg--gray > .wpb_wrapper {
    background-color: $gray;
  }

  &.column-bg--brand > .wpb_wrapper {
    background-color: $brand-primary;
  }
}