$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px
);

.margin-bottom--small {
  @include get-variable-attribute('margin-bottom', (
    null: 15px,
    small: 20px,
    medium: 30px,
    large: 40px)
  );
}

.margin-top--medium {
  @include get-variable-attribute('margin-top', (
    null: 20px,
    small: 30px,
    medium: 45px,
    large: 60px
  ));
}

.margin-bottom--medium {
  @include get-variable-attribute('margin-bottom', (
    null: 20px,
    small: 30px,
    medium: 45px,
    large: 60px
  ));
}

.margin-top--large {
  @include get-variable-attribute('margin-top', (
    null: 25px,
    small: 40px,
    medium: 60px,
    large: 80px
  ));
}

.margin-bottom--large {
  @include get-variable-attribute('margin-bottom', (
    null: 25px,
    small: 40px,
    medium: 60px,
    large: 80px
  ));
}
