.component-submenu {
  background-color: $gray;
  padding-top: $gap;
  transition: top 0.3s ease-in-out;

  &.headroom--not-top {
    @media (max-width: $screen-xs-max) {

      &.headroom--unpinned {
        top: 0;
      }

      &.headroom--pinned {
        width: 100%;
        left: 0;
        position: fixed;
        z-index: $banner-zindex;
        top: 60px;
      }
    }
  }

  > .container {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      width: 100%;
    }
  }

  .navigation {
    float: none;
  }

  ul {
    width: 100%;
    @include clearfix;
  }

  li {
    width: 10%;
  }

  li:nth-last-child(1):first-child,
  li:nth-last-child(1):first-child ~ li {
    width: 100%;
  }

  li:nth-last-child(2):first-child,
  li:nth-last-child(2):first-child ~ li {
    width: (100% / 2);
  }

  li:nth-last-child(3):first-child,
  li:nth-last-child(3):first-child ~ li {
    width: (100% / 3);
  }

  li:nth-last-child(4):first-child,
  li:nth-last-child(4):first-child ~ li {
    width: (100% / 4);
  }

  li:nth-last-child(5):first-child,
  li:nth-last-child(5):first-child ~ li {
    width: (100% / 5);
  }

  li:nth-last-child(6):first-child,
  li:nth-last-child(6):first-child ~ li {
    width: (100% / 6);
  }

  li:nth-last-child(7):first-child,
  li:nth-last-child(7):first-child ~ li {
    width: (100% / 7);
  }

  a {
    height: 70px;
    position: relative;
    transform-style: preserve-3d;

    span {
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 10px;

      @media (min-width: $screen-md-min) {
        padding: 0 20px;
      }
    }

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 40px;
      background: $gray-darker;
      position: absolute;
      right: 0;
      top: 15px;
    }
  }

  li:last-of-type a:after {
    display: none;
  }

  li.active {
    margin-left: -1px;

    a {
      background-color: $white;

      &:after {
        background: $white;
      }
    }
  }

  .navigation-select {
    display: block;
    padding: $margin;
    color: $white;
    font-size: 20px;
    line-height: 20px;
    font-weight: $font-weight-medium;
    letter-spacing: 0.5px;
    cursor: pointer;

    &.active {
      span {
        &:before {
        }
      }
    }

    span {
      float: right;
    }
  }

  @media (max-width: $screen-xs-max) {
    background-color: $brand-primary-light;
    padding-top: 0;

    .container {
      padding: 0;
    }

    .navigation {
      display: none;
    }

    li {
      width: 100% !important;
    }

    li:first-child {
      border-top: 1px solid $white;
    }

    li.active {
      margin-left: 0;

      a {
        background-color: $brand-primary;
      }
    }

    a {
      color: $white;
      height: 50px;

      span {
        padding: 0 20px;
        text-align: left;
      }

      &:after {
        display: none;
      }
    }
  }
}