.component-mobilemenu {
  @extend .visible-xs;
  @extend %clearfix;
  display: block;
  width: 100%;

  .nav-controls {
    background-color: rgba($color-one, 0.9);
    padding: 15px;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7000;
    user-select: none;

    a {
      display: block;
    }
  }

  .nav-controls.open .mobile-back {
    visibility: visible;
    opacity: 1;
    height: 35px;
    width: auto;
    margin-right: 15px;
    padding-top: 15px;
  }

  .lvl-2 {
    .site-logo {
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  .nav-controls.open.lvl-1 {

    .mobile-back {
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;
      margin-right: 0;
    }
  }

  .site-logo {
    float: left;
    transition: visibility 0s, opacity 0.5s linear;

    svg {
      width: 172px;
      height: 50px;
    }
  }

  a.toggle-navigation {
    float: right;
    height: 50px;
    padding-top: 7px;

    span.helper {
      display: inline-block;
      position: relative;
      color: $color-six;
      top: -4px;
      padding-right: 5px;
      text-transform: uppercase;
      font-size: $font-size-small;
    }

    span.helper--close {
      display: none;
      top: 0;
    }

    span.icon {
      transition: transform 0.3s ease;
      position: relative;
      top: 3px;
      font-size: 28px;
      color: $color-six;
    }
  }

  a.toggle-navigation.open {

    .helper--close {
      display: inline-block;
    }

    .helper--open {
      display: none;
    }

    span.icon {
      font-size: 24px;
      top: 6px;
      transform: rotate(90deg);

      &:before {
        content: "\e904";
      }
    }
  }

  a.mobile-back {
    float: left;
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    transition: visibility 0s, opacity 0.5s linear;

    &:focus, &:hover {
      color: $link-color;
    }

    span {
      font-size: $font-size-small;
    }
  }

  .main-nav {
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translate3d(0, -120%, 0);
    transition: transform 0.5s ease;
    overflow: hidden;
    overflow-y: scroll;
  }

  .main-nav.open {
    transform: translate3d(0, 0, 0);
    top: 80px;
  }

  #counter {
    padding: 15px;
    position: relative;
    transition: transform 0.5s ease;
    transform: translate3d(0, 0, 0);

    &.lvl-2 {
      transform: translate3d(-100%, 0, 0);
    }

    &.lvl-3 {
      transform: translate3d(-200%, 0, 0);
    }

    &.lvl-4 {
      transform: translate3d(-300%, 0, 0);
    }

    &.lvl-5 {
      transform: translate3d(-400%, 0, 0);
    }

    &.lvl-6 {
      transform: translate3d(-500%, 0, 0);
    }
  }

  .inner {
    overflow: hidden;
    overflow-y: scroll;
    height: 120%;
    background-color: rgba($color-one, 0.9);
  }

  .sub-nav {
    padding: 15px;
    display: none;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
  }

  .has-sub.open .has-sub.open .sub-nav .has-sub .sub-nav {
    display: none;
  }

  .has-sub.open .has-sub .sub-nav {
    display: none;
  }

  .has-sub.open .has-sub.open .sub-nav {
    display: block;
  }

  .has-sub.open .has-sub.open .sub-nav .has-sub.open .sub-nav {
    display: block;
  }

  .has-sub.open .sub-nav {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    width: 100%;
  }

  li a {
    border-top: 1px solid $brand-primary;
    color: $color-six;
    display: block;
    padding: 20px 0;
  }

  li a.sub-nav-toggle {
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;

    &:after {
      @include icomoon;
      color: $color-two;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "\e915";
    }
  }

  .description {
    display: block;
    font-size: 18px;
    font-weight: $font-weight-light;
  }

  .title {
    display: block;
    text-transform: uppercase;
  }

  h6 {
    color: $white;
    font-weight: $font-weight-medium;
    margin: 15px 0;
    user-select: none;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .sub-nav > h6 {
    @include font-size($h4-font-sizes);
    margin-bottom: 20px;
  }

  .extra-links {
    text-align: left;
  }

  .extra-links a {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
