.component-contactsingle {
  width: 100%;
  @extend .clearfix;

  @media (max-width: $screen-xs-max) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $margin;
  }

  *:last-child {
    margin-bottom: 0;
  }

  .image {
    height: 300px;
    display: block;
    width: 100%;
    float: left;
    background-position: center center;
    border: 1px solid $gray;

    @media (min-width: $screen-md-min) {
      width: 30%;
      height: 250px;
    }
  }

  .text-content {
    width: 100%;
    float: left;
    height: auto;
    padding: 20px;
    border: 1px solid $gray;
    border-top: 0;

    @media (min-width: $screen-md-min) {
      width: 70%;
      height: 250px;
      border-top: 1px solid $gray;
      border-left: 0;
    }
  }

  hr {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  h4, h5 {
    margin-bottom: 10px;
  }

  .label {
    margin-bottom: 10px;
    font-size: $font-size-extra-small;
    text-transform: uppercase;
    color: $brand-primary;
    font-weight: $font-weight-medium;
  }

  a {
    display: block;
    font-weight: $font-weight-base;
    margin-bottom: 5px;

    span {
      margin-right: 10px;
      display: inline-block;
    }
  }
}