.component-cookiealert {
  display: none;
  border-bottom: 2px solid $brand-primary-dark;
  background-color: $brand-primary-dark;
  padding: 10px 15px;
  z-index: 10050;
  min-height: 70px;

  .alert__text {
    color: $white;
    font-size: $font-size-small;
    margin-bottom: 0;
    margin-top: 5px;
    float: left;

    @media (max-width: $screen-sm-max) {
      float: none;
      margin-bottom: 20px;
    }

    a {
      font-weight: $font-weight-bold;
      color: $white;
    }
  }

  .btn {
    margin-bottom: 0;
    float: right;

    @media (max-width: $screen-sm-max) {
      float: none;
    }
  }
}
